<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdkj.wzcd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.cdkj.wzcd.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="com.cdkj.wzcd.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".module.user.SignInActivity" />
        <activity android:name=".module.business.credit.BssCreditListActivity" />
        <activity android:name=".module.business.credit.audit.AuditCreditActivity" />

        <activity android:name=".module.business.join_approval.JoinApplyListActivity" />
        <activity android:name=".module.business.interview.InterviewActivity" />
        <activity android:name=".module.business.interview.InterviewStartActivity" />
        <activity android:name=".module.business.gps_install.GPSInstallListActivity" />
        <activity android:name=".module.business.gps_install.GPSInstallInfoActivity" />
        <activity android:name=".module.business.gps_install.GPSInfoAddActivity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep1Activity" />
        <activity android:name=".module.business.credit.CreditUserActivity" />

        <!--数据请求-->

        <activity android:name=".module.business.cllh.CllhListActivity" />
        <activity android:name=".module.business.cllh.CllhInputMessageActivity" />
        <activity android:name=".module.business.cldy.BssCldyListActivity" />
        <activity android:name=".module.business.cldy.CldyInputMessageActivity" />
        <activity android:name=".module.datatransfer.DataTransferListFragment" />
        <activity android:name=".module.datatransfer.SendActivity" />
        <activity android:name=".module.datatransfer.SendAndExamineActivity" />
        <activity android:name=".module.cartool.uservoid.UserToVoidActivity" />
        <activity android:name=".module.cartool.uservoid.BlankOutActivity" />
        <activity android:name=".module.cartool.uservoid.UserToVoidDetailsActivity" />
        <activity android:name=".module.cartool.gps.GpsListActivity" />
        <activity android:name=".module.cartool.gps.GpsApplyActivity" />
        <activity android:name=".module.cartool.gps.GpsDetailsActivity" />
        <activity android:name=".module.cartool.history.HistoryUserActivity" />
        <activity android:name=".module.cartool.history.HistoryUserDetailsActivity" />
        <activity android:name=".module.cartool.history.RepaymentListActivity"></activity>
        <activity android:name=".module.user.UserInfoActivity" />
        <activity android:name=".module.business.bank_loan.BankLoanListActivity" />
        <activity android:name=".module.business.bank_loan.BankLoanCommitActivity" />
        <activity android:name=".module.business.bank_loan.BankLoanInputActivity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep2Activity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep3Activity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep4Activity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep5Activity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep6Activity" />
        <activity android:name=".module.business.join_approval.JoinApplyActivity" />
        <activity android:name=".module.business.credit.CreditDetailActivity" />
        <activity android:name=".module.business.credit.CreditInitiateActivity" />
        <activity android:name=".module.business.credit.audit.AuditUserActivity" />
        <activity android:name=".module.business.cldy.MortgageFinishActivity" />
        <activity android:name=".module.cartool.uservoid.ZrdListActivity" />
        <activity android:name=".module.business.gps_install.GpsDetailActivity" />
        <activity android:name=".module.business.interview.RoomActivity" />
        <activity android:name=".module.business.interview.MainActivity" />
        <activity android:name=".module.business.audit.AuditActivity" />
        <activity android:name=".module.business.audit.AuditListActivity" />
        <activity android:name=".module.business.cldy.CldyApplyActivity" />
        <activity android:name=".module.datatransfer.DataTransferActivity2" />

        <!--<meta-data-->
            <!--android:nacom.yalantis.ucrop.util.MyAppGlideModuledule"-->
            <!--andrsearchValuealue="GlideModule"/>-->
    </application>

</manifest>