<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cdkj.wzcd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".module.user.SignInActivity" />
        <activity android:name=".module.business.credit.BssCreditListActivity" />
        <activity android:name=".module.business.credit.BssCreditListActivity2" />
        <activity android:name=".module.business.credit.audit.AuditCreditActivity" />
        <activity android:name=".module.business.join_approval.JoinApplyListActivity" />
        <activity android:name=".module.business.interview.InterviewActivity" />
        <activity android:name=".module.business.interview.InterviewExamineActivity" />
        <activity android:name=".module.business.interview.InterviewStartActivity" />
        <activity android:name=".module.business.interview.InterviewStartDetialsActivity" />
        <activity android:name=".module.business.gps_install.GPSInstallListActivity" />
        <activity android:name=".module.business.gps_install.GPSInstallInfoActivity" />
        <activity android:name=".module.business.gps_install.GPSInfoAddActivity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep1Activity" />
        <activity android:name=".module.business.credit.CreditUserActivity" />

        <!-- 数据请求 -->

        <activity android:name=".module.business.cllh.CllhListActivity" />
        <activity android:name=".module.business.cllh.CllhInputMessageActivity" />
        <activity android:name=".module.business.cldy.BssCldyListActivity" />
        <activity android:name=".module.business.cldy.CldyInputMessageActivity" />
        <!-- <activity android:name=".module.datatransfer.DataTransferListFragment" /> -->
        <activity android:name=".module.datatransfer.SendActivity" />
        <activity android:name=".module.datatransfer.SendAndExamineActivity" />
        <activity android:name=".module.cartool.uservoid.UserToVoidActivity" />
        <activity android:name=".module.cartool.uservoid.BlankOutActivity" />
        <activity android:name=".module.cartool.uservoid.UserToVoidDetailsActivity" />
        <activity android:name=".module.cartool.gps.GpsListActivity" />
        <activity android:name=".module.cartool.gps.GpsApplyActivity" />
        <activity android:name=".module.cartool.gps.GpsDetailsActivity" />
        <activity android:name=".module.cartool.history.HistoryUserActivity" />
        <activity android:name=".module.cartool.history.HistoryUserDetailsActivity" />
        <activity android:name=".module.cartool.history.RepaymentListActivity" />
        <activity android:name=".module.user.UserInfoActivity" />
        <activity android:name=".module.business.bank_loan.BankLoanListActivity" />
        <activity android:name=".module.business.bank_loan.BankLoanCommitActivity" />
        <activity android:name=".module.business.bank_loan.BankLoanInputActivity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep2Activity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep3Activity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep4Activity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep5Activity" />
        <activity android:name=".module.business.join_approval.edit.JoinStep6Activity" />
        <activity android:name=".module.business.join_approval.JoinApplyActivity" />
        <activity android:name=".module.business.credit.CreditDetailActivity" />
        <activity android:name=".module.business.credit.CreditInitiateActivity" />
        <activity android:name=".module.business.credit.audit.AuditUserActivity" />
        <activity android:name=".module.business.cldy.MortgageFinishActivity" />
        <activity android:name=".module.cartool.uservoid.ZrdListActivity" />
        <activity android:name=".module.business.gps_install.GpsDetailActivity" />
        <activity android:name=".module.business.interview.RoomActivity" />
        <activity android:name=".module.business.interview.MainActivity" />
        <activity android:name=".module.business.audit.AuditActivity" />
        <activity android:name=".module.business.audit.AuditListActivity" />
        <activity android:name=".module.business.cldy.CldyApplyActivity" />
        <activity android:name=".module.datatransfer.DataTransferActivity2" />

        <!-- <meta-data -->
        <!-- android:nacom.yalantis.ucrop.util.MyAppGlideModuledule" -->
        <!-- andrsearchValuealue="GlideModule"/> -->
        <activity android:name=".module.datatransfer.DataDetialsActivity" />
        <activity android:name=".module.business.cldy.NqlrActivity" />
        <activity android:name=".module.business.cldy.DysqActivity" />
        <activity android:name=".module.business.cldy.LrdyActivity" />
        <activity android:name=".module.main.customer.CustomerDetailsActivity" />
        <activity android:name=".module.main.customer.CreditCardDetailsActivity" />
        <activity android:name=".module.main.customer.CreditPeopleDetailsActivity" />
        <activity android:name=".module.main.customer.EnclosureActivity" />
        <activity android:name=".module.main.customer.LocalUpEnclosureActivity" />
        <activity android:name=".module.main.customer.RelationEnclosureActivity" />
        <activity android:name=".module.main.customer.RepaymentListActivity" />
        <!-- WebViewMessageActivity -->
        <activity android:name=".common.WebViewMessageActivity" />
        <activity android:name=".module.main.customer.LogActivity" />
        <activity android:name=".module.main.message.ZXPDActivity" />
        <activity android:name=".module.main.user.UpDataPhoneActivity" />
        <activity android:name=".module.main.customer.ZRDDetialsActivity" />
        <activity android:name=".module.main.customer.ToBeActivity" />
        <activity android:name=".module.home.front.ZXLRActivity" />
        <activity android:name=".module.home.front.ZXLRDetails" />
        <activity android:name=".module.home.front.ZXLRInputActivity" />
        <activity android:name=".module.home.front.ZXSHActivity" />
        <activity android:name=".module.home.front.ZXSHDetails" />
        <activity android:name=".module.main.customer.zrdxq.ZRActivity" />
        <activity android:name=".module.main.customer.zrdxq.DQZRListActivity"></activity>
    </application>

</manifest>